<h1>{{ userDetails.userName }}</h1>
<p id="userVisits">
<img src="template/images/view_icon.png" /> {{ userDetails.userVisits }}
</p>

<table class="DataTable">
<tr>
	<td>Âge</td>
	<td>{{ userDetails.userAge }}</td>
</tr>
<tr>
	<td>Sexe</td>
	<td>{{ userDetails.userSex }}</td>
</tr>
<tr>
	<td>Adresse Email</td>
	<td>{{ userDetails.userEmail }}</td>
</tr>
<tr>
	<td>Groupe</td>
	<td>{{ userDetails.userGroup }}</td>
</tr>
<tr>
	<td>Etat du compte</td>
	<td>{{ userDetails.userState }}</td>
</tr>
</table>